html,
body {
  height: 100%;
  overflow-x: hidden;
}

.wrapper-sec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;

  padding-top: 25px;
  height: 20vh;
}

.logo-compass-pequeno {
  width: 150px;
  height: 42.75px;

  margin-left: 40px;
}

.clock {
  text-align: center;
}

.hour {
  font-family: "Mark Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  text-align: center;

  color: #222222;
}

.day {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  text-align: center;

  color: #222222;
}

.wraper-weather {
  margin-right: 3%;
}

.place {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;

  color: #222222;
}

.wraper-weather-temperature {
  display: flex;
  align-items: center;
}

.cloud {
  margin-right: 12px;
}

.temperature {
  font-family: "Mark Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;

  color: #222222;
}

main {
  display: flex;
  justify-content: space-between;
  margin-right: 8%;
  height: 60%;
}

.ball-uol {
  position: relative;
  z-index: -10;
  top: 60px;
  width: 28.4%;
  height: 36%;
}

.section-frases {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 7%;
  margin-bottom: 7%;
}

.title-small {
  color: #c12d18;

  font-family: "Mark Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: right;
}

.title-eng {
  color: #c12d18;

  font-family: "Mark Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  text-align: right;
}

.title-pt {
  color: #222222;
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: right;
}

.wrapper-frases {
  margin-bottom: 1%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
  height: 20%;
}

.text-footer {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: 12%;
}

.paragraph-footer {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: #ffffff;

  width: 541px;
}

.wrapper-timer {
  display: flex;
  align-items: center;
  gap: 10%;
  margin-right: 10%;
}

.text-refresh {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: #ffffff;

  margin-right: 10%;
  margin-left: 12px;
}

.timer {
  font-family: "Mark Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
}

.seconds {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.navegation-footer {
  display: flex;
  justify-content: right;
  width: 15vw;
}

.btn-footer {
  cursor: pointer;
}

.wrapper-button-continuar {
  background-color: #ffffff;
  height: 9.7vh;

  font-family: "Mark Pro";
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #c13216;
  width: 131px;
}

.wrapper-button-logout {
  font-family: "Mark Pro Bold";
  font-weight: 700;
  font-size: 12px;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  width: 128px;
}

.wrapper-responsive {
  display: flex;
  margin-left: 10%;
}

@media (max-width: 1500px) {
  .title-eng {
    font-size: 54px;
  }
  .title-small {
    font-size: 28px;
  }
  .ball-uol {
    width: 32%;
  }
}

@media (max-width: 1380px) {
  .title-eng {
    font-size: 48px;
  }
  .title-small {
    font-size: 24px;
  }
  .ball-uol {
    width: 32%;
  }
}

@media (max-width: 1380px) {
  .ball-uol {
    width: 35%;
  }
}

@media (max-width: 1280px) {
  .title-eng {
    font-size: 44px;
  }
  .wrapper-responsive {
    margin-left: 0;
  }
  .ball-uol {
    width: 37%;
  }
}

@media (max-width: 1235px) {
  .ball-uol {
    display: none;
  }
  .section-frases {
    margin: auto;
    margin-top: 10%;
  }

  .footer {
    flex-direction: column;
  }
  .wrapper-responsive {
    justify-content: center;
  }
  .text-footer {
    margin: 0;
  }
  .wrapper-timer {
    margin: 0;
  }

  .section-frases {
    margin-bottom: 14%;
  }
  main {
    margin: 0;
  }
  footer {
    padding-top: 15px;
  }
  .navegation-footer {
    justify-content: center;
    width: 100%;
  }
  .section-frases {
    width: 80%;
  }
  .title-small {
    font-size: 32px;
  }

  .title-eng {
    font-size: 54px;
  }
  .title-pt {
    font-size: 30px;
  }
}

@media (max-width: 1075px) {
  .wrapper-responsive {
    display: block;
  }
  .text-footer {
    display: inline-block;
  }
  .white-line {
    visibility: hidden;
    width: 0;
  }
  .wrapper-timer {
    justify-content: center;
    gap: 0;
    padding-bottom: 20px;
  }
  .paragraph-footer {
    text-align: center;
  }
  .text-footer {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
  }
}

@media (max-width: 840px) {
  .clock {
    display: none;
  }
  .section-frases {
    margin-top: 0;
  }
  main {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
  }
  .section-frases {
    gap: 15px;
  }
  .wraper-weather {
    margin-right: 40px;
  }
}

@media (max-width: 650px) {
  footer {
    padding-inline: 30px;
  }
  .text-footer {
    margin-bottom: 15px;
  }
  .paragraph-footer {
    width: 100%;
    margin: auto;
    text-align: justify;
  }
}

@media (max-width: 550px) {
  .section-frases {
    width: 100%;
  }
  .title-eng {
    font-size: 38px;
  }
  .title-pt {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .wraper-weather {
    margin: 0;
}
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline: 30px;

  }

  .logo-compass-pequeno {
    margin: 0;
    width: 80%;
    margin-inline: auto;
  }
}

@media (max-width: 350px) {
  .title-eng {
    font-size: 32px;
  }
  .title-pt {
    font-size: 16px;
  }
}
