@font-face {
  font-family: "Mark Pro";
  src: url(../fonts/MarkPro.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Mark Pro Bold";
  src: url(../fonts/MarkProBold.ttf);
  font-weight: 700;
}
